<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>De voorspelling</title>
    <style>
        body{
            background-color: #f5f5f5;
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        img{
            padding: 20px;
            background-color: green;
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <h1>De voorspelling</h1>
    <img src="/static/predict/{{filename}}" alt="voorspelling">
    <h3>De voorspelling is: {{ prediction }}</h3>
    <a href="/">Terug naar de homepage</a>
</body>
</html>